p {
  font-family: Lato;
}

.container {
  margin: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(218, 85, 85);
}

.description {
  font-size: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 2rem;
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.example-button {
  border: 0;
  padding: 1rem;
  background-color: hsla(0, 84%, 80%, 0.418);
  width: 50%;
}
